#header {
  display: flex;
  justify-content: space-between; /* text left, buttons right */
  align-items: center;
  margin: 0;
}
/* produktid eraldi, peavaade */
.allProductsWrapper {
  display: flex;
  gap: 10px;
  max-width: 200px;
}
h5 {
  color: gray;
}
/* #product {
  display: flex;
  padding-inline-start: 10px;
  gap: 10px;
} */
.oneProduct {
  padding: 5px;
  display: grid;
  justify-items: left;
  min-width: 150px;
  border: 2px solid;
}
.productImage {
  justify-self: center;
}
.score {
  display: flex;
  align-items: center;
}
.heartInProduct {
  position: absolute;
  justify-self: end;
  align-self: start;
}
/* detail vaade */

.detailView {
  display: flex;
  font-size: 20px;
}
.addToCart {
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.addToLiked {
  background-color: rgb(255, 0, 195);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.addToLiked:hover {
  background-color: rgb(192, 0, 147);
}
.addToCart:hover {
  background-color: rgb(2, 21, 141);
}
/* ostukorv */
.esekorvis {
  display: flex;
}
.kakskordakolm {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-auto-rows: auto;
  padding: 50px;
  background-color: aliceblue;
}
.osta {
  width: 100vh;
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  min-height: 50px;
}
.osta:hover {
  background-color: rgb(2, 21, 141);
}
.osta:active {
  background-color: rgb(0, 0, 0);
}
