body {
  margin: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  /* padding-bottom: 20lvh; */
  padding: 2lvh;
  background-color: rgb(193, 193, 193);
  margin-bottom: 10lvh;
}
/* produktid eraldi, peavaade */
.allProductsWrapper {
  display: flex;
  gap: 20px;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20lvh;
  margin-left: 20lvh;
}
h5 {
  text-align: left;
  padding-left: 5px;
  font-family: monospace;
}
.productTitle {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: large;
  padding-left: 5px;
}
.oneProduct {
  padding: 5px;
  display: grid;
  justify-items: left;
  min-width: 200px;
  border: 2px solid;
  background-color: rgb(255, 248, 235);
}
.oneProduct:hover {
  transform: scale(1.005);
  box-shadow: 1px 2px 2px rgb(0, 0, 0);
}
.productImage {
  justify-self: center;
}
.score {
  display: flex;
  align-items: center;
}

.heartLabel {
  display: none;
}

.heartInProduct {
  fill: none;
}

.heartWrapper input:checked + .heartInProduct {
  fill: red;
  stroke: crimson;
  transform: scale(1.1);
}

.buyButton {
  background-color: rgb(0, 208, 255);
  border: 1px solid;
  border-radius: 20px;
  font-size: 15px;
  padding: 8px;
  border-color: rgb(0, 101, 101);
}
.buyButton:hover {
  transform: scale(1.05);
}
.buyButton:active {
  background-color: white;
}
/* detail vaade */

.detailView {
  display: flex;
  font-size: 20px;
}
.addToCart {
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.addToLiked {
  background-color: rgb(255, 0, 195);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.addToLiked:hover {
  background-color: rgb(192, 0, 147);
}
.addToCart:hover {
  background-color: rgb(2, 21, 141);
}
/* ostukorv */
.esekorvis {
  display: flex;
}
.kakskordakolm {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-auto-rows: auto;
  padding: 50px;
  background-color: aliceblue;
}
.osta {
  width: 100vh;
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  min-height: 50px;
}
.osta:hover {
  background-color: rgb(2, 21, 141);
}
.osta:active {
  background-color: rgb(0, 0, 0);
}
